@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.ttf?esezbl") format("truetype"),
    url("fonts/icomoon.woff?esezbl") format("woff"),
    url("fonts/icomoon.svg?esezbl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"],
[class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_level-4:before {
  content: "\e900";
  color: #be385e;
  position: relative;
  top: 0em;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 0.8em;
  width: 1.5em;
  height: 1.5em;
  background-color: #f5f1fe;
  border-radius: 0.4em;
}
.icon_level-1:before {
  content: "\e901";
  color: #8754f6;
  position: relative;
  top: 0em;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 0.8em;
  width: 1.5em;
  height: 1.5em;
  background-color: #f5f1fe;
  border-radius: 0.4em;
}
.icon_level-2:before {
  content: "\e902";
  color: #2db77b;
  position: relative;
  top: 0em;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 0.8em;
  width: 1.5em;
  height: 1.5em;
  background-color: #eef9f4;
  border-radius: 0.4em;
}
.icon_level-5:before {
  content: "\e903";
  color: #8754f6;
  position: relative;
  top: 0em;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 0.8em;
  width: 1.5em;
  height: 1.5em;
  background-color: #f5f1fe;
  border-radius: 0.4em;
}
.icon_level-3:before {
  content: "\e904";
  color: #f0c752;

  position: relative;
  top: 0em;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-size: 0.8em;
  width: 1.5em;
  height: 1.5em;
  background-color: #fefbf0;
  border-radius: 0.4em;
}
.icon_collapse:before {
  content: "\e910";
  color: #6d6e85;
  position: relative;
  font-size: 0.5em;
  bottom: 0.2em;
}
.icon_expand:before {
  content: "\e910";
  color: #6d6e85;
  position: relative;
  font-size: 0.5em;
  bottom: 0.2em;
}
.icon_download:before {
  content: "\e911";
}

