@use './../../../assets/scss/colors' as colors;

$font_header: #6d6e85;
$weekend: #a9a9b8;
$table_border_radius: 10px;
$header_height: 48px;

#data_table {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  margin-top: 18px;
  width: 100%;
  overflow: hidden;

  border: 1px solid colors.$grey;
  border-top-left-radius: $table_border_radius;
  border-bottom-left-radius: $table_border_radius;

  > table {
    display: table;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  }

  tr {
    td:first-child,
    th:first-child {
      padding-left: 20px;
    }
  }
}

/**
**   TABLE HEADER
**/

.table_header {
  flex-direction: row;
  height: $header_height;
  background-color: colors.$grey-light;

  th {
    border-right: 1px solid colors.$grey;
  }
}

.title_cell {
  height: $header_height;
  min-width: 390px;

  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $font_header;

  border-right: 1px solid colors.$grey;
  border-bottom: 1px solid colors.$grey;
}

.days_header th {
  width: 22px;
  border-top: 1px solid colors.$grey;
}

.week__title {
  min-width: 150px;
  border-right: 1px solid colors.$grey;
  border-bottom: 1px solid colors.$grey;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.week__day {
  border-right: 1px solid colors.$grey;
  border-bottom: 1px solid colors.$grey;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
[data-dayindex='5'],
[data-dayindex='6'] {
  color: $weekend;
}

/**
**   TABLE BODY
**/

tbody tr:not(:last-child) {
  height: 40px;
}
tbody td {
  border-right: 1px solid colors.$grey;
}
tbody tr:not(:last-child) > td:first-child {
  border-bottom: 1px solid colors.$grey;
}
