@use './../../../assets/scss/colors' as colors;

$font_header: #6d6e85;
$font_work: #262842;
$weekend: #a9a9b8;
$table_border_radius: 10px;
$header_height: 48px;
$row_height: 40px;

#data_table {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  margin-top: 18px;
  width: 100%;
  overflow: hidden;

  border: 1px solid colors.$grey;
  border-top-left-radius: $table_border_radius;
  border-bottom-left-radius: $table_border_radius;

  > table {
    display: table;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  }
}

/**
**   TABLE HEADER
**/

.table_header {
  flex-direction: row;
  height: $header_height;
  background-color: colors.$grey-light;

  th {
    border-right: 1px solid colors.$grey;
  }
}

.title_cell {
  height: $header_height;
  min-width: 390px;
  padding-left: 20px;

  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $font_header;

  border-right: 1px solid colors.$grey;
  border-bottom: 1px solid colors.$grey;
}

.days_header th {
  width: 22px;
  border-top: 1px solid colors.$grey;
}

.week__title {
  min-width: 147px;
  max-width: 147px;
  border-right: 1px solid colors.$grey;
  border-bottom: 1px solid colors.$grey;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.week__day {
  min-width: 21px;
  max-width: 21px;
  border-right: 1px solid colors.$grey;
  border-bottom: 1px solid colors.$grey;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
[data-dayindex='5'],
[data-dayindex='6'] {
  color: $weekend;
}

/**
**   TABLE BODY
**/

tbody tr:not(:last-child) {
  height: $row_height;
}
tbody td {
  border-right: 1px solid colors.$grey;
}
tbody tr:not(:last-child) > td:first-child {
  border-bottom: 1px solid colors.$grey;
  margin: 0px;
}

.work__header {
  display: flex;
  height: $row_height;;
  align-items: center;
  justify-items: flex-start;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $font_work;

  .pict {
    padding-right: 4px;
  }
}

.child_qnty {
  font-weight: 100;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
  color: #8b8c9e;
}

.icon_collapse {
  transition: transform 0.2s;
  &:hover {
    cursor: pointer;
  }
}

[data-hidden='hidden'] {
  transform: rotate(-90deg);
  transition: transform 0.2s;
}


.fade_right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 8px;
  background-image: linear-gradient(to left, RGBA(94,94,94,0.2), RGBA(94,94,94,0));
}