@use './../../../assets/scss/colors' as colors;

#data_table {
  display: flex;
  flex: 1 1 auto;
  margin-top: 18px;
  // border: 2px solid blue;

  > table {
    width: 100%;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
    // min-height: calc(100vh - 100px);
    border: 1px solid colors.$border;
    border-radius: 10px;
  }
}
